# 3D time-series using kepler

![image](https://miro.medium.com/max/600/1*XLqDpdW6SC_MOOlx007N3w.gif)

In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

/home/anagarcia/anaconda3/envs/final/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

In [2]:
df = pd.read_csv("../Input/MPV_2.csv", sep = ";")
df['Date of Incident (month/day/year)'] = df['Date of Incident (month/day/year)'].astype(str) + ' 0:00'
df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,County,Cause of death,Symptoms of mental illness?,Armed/Unarmed Status,Alleged Weapon,Alleged Threat Level,Fleeing,Geography,MPV ID,Encounter Type (DRAFT)
0,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,"Gunshot, Taser",No,Allegedly Armed,gun,other,foot,Suburban,8728,Violent crime
1,Jeffrey Ely,40,Male,White,31/03/2021 0:00,247 Sullivan St.,Claremont,NH,3743.0,Sullivan,Gunshot,No,Allegedly Armed,gun,attack,not fleeing,Rural,8729,Violent crime
2,Ivan Cuevas,27,Male,Hispanic,31/03/2021 0:00,North Conyer Street,Visalia,CA,93291.0,Tulare,Gunshot,Drug or alcohol use,Allegedly Armed,knife,other,not fleeing,Urban,8730,Domestic disturbance (family violence)
3,Anthony Alvarez,22,Male,Hispanic,31/03/2021 0:00,W. Eddy St. and N. Laramie Ave.,Chicago,IL,60641.0,Cook,Gunshot,No,Allegedly Armed,gun,NaN,foot,Urban,8731,None/Unknown
4,Aaron Christopher Pouche,35,Male,NaN,31/03/2021 0:00,E. 8th St. and S. Carlisle,Independence,MO,64054.0,Jackson,Gunshot,No,Allegedly Armed,gun,attack,not fleeing,Suburban,8732,Violent crime

In [3]:
df.shape

(9038, 19)

In [4]:
shapefile_data = gpd.read_file("../Input/c_10nv20.shp")
shapefile_data.head()

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,geometry
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ..."
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
3,AS,PPG,Swains Island,60040,S,None,-171.0459,-11.0843,"POLYGON ((-171.04049 -11.08245, -171.03940 -11..."
4,AS,PPG,Manu'a,60020,S,None,-169.5060,-14.2219,"MULTIPOLYGON (((-169.42766 -14.21181, -169.427..."

In [5]:
shapfile_raw = pd.DataFrame(shapefile_data)
shapfile_raw.head()

,STATE,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,geometry
0,ME,CAR,Washington,23029,E,se,-67.6361,45.0363,"MULTIPOLYGON (((-67.93539 44.40382, -67.93643 ..."
1,GA,CHS,McIntosh,13191,E,se,-81.2646,31.5329,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
2,GA,CHS,Liberty,13179,E,se,-81.2103,31.7093,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
3,AS,PPG,Swains Island,60040,S,None,-171.0459,-11.0843,"POLYGON ((-171.04049 -11.08245, -171.03940 -11..."
4,AS,PPG,Manu'a,60020,S,None,-169.5060,-14.2219,"MULTIPOLYGON (((-169.42766 -14.21181, -169.427..."

In [6]:
#Now we are going to merge the two datasets by the column STATE. 
df_2 = df.merge(shapfile_raw.rename(columns={'STATE':'State'}),how='outer')
df_2.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,County,...,MPV ID,Encounter Type (DRAFT),CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,geometry
0,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,8728.0,Violent crime,CHS,McIntosh,13191,E,se,-81.2646,31.5329,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
1,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,8728.0,Violent crime,CHS,Liberty,13179,E,se,-81.2103,31.7093,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
2,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,8728.0,Violent crime,FFC,Wilkes,13317,E,ec,-82.7432,33.7820,"POLYGON ((-82.64600 33.98411, -82.64270 33.972..."
3,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,8728.0,Violent crime,FFC,Wilcox,13315,E,cc,-83.4322,31.9734,"POLYGON ((-83.37489 32.13221, -83.37160 32.132..."
4,Willie Roy Allen,57,Male,NaN,31/03/2021 0:00,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,8728.0,Violent crime,FFC,Whitfield,13313,E,nw,-84.9673,34.8056,"POLYGON ((-84.82439 34.98771, -84.81900 34.987..."

In [7]:
df_2.shape

(789182, 27)

In [8]:
# remove some columns that we don`t need to the analysis. 
df_2.drop(["Victim's race", "Street Address of Incident", "geometry", "Zipcode", "CWA", "Symptoms of mental illness?", "Armed/Unarmed Status","FIPS", "TIME_ZONE", "FE_AREA" ], axis = 1, inplace = True)

In [9]:
df_2.dropna(how='any', inplace = True)

In [10]:
df_3 = df_2.drop_duplicates(subset=["Victim's name"])

In [14]:
df_3.shape

(3418, 17)

In [11]:
df_3.head()

,Victim's name,Victim's age,Victim's gender,Date of Incident (month/day/year),City,State,County,Cause of death,Alleged Weapon,Alleged Threat Level,Fleeing,Geography,MPV ID,Encounter Type (DRAFT),COUNTYNAME,LON,LAT
0,Willie Roy Allen,57,Male,31/03/2021 0:00,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,McIntosh,-81.2646,31.5329
165,Shelby Jean Berkheimer,41,Female,30/03/2021 0:00,Lithia Springs,GA,Douglas,Gunshot,gun,other,not fleeing,Suburban,8733.0,Violent crime,McIntosh,-81.2646,31.5329
330,Shawn Michael Evanuk,48,Male,20/03/2021 0:00,Centerville,GA,Houston,Gunshot,knife,attack,not fleeing,Suburban,8766.0,Domestic disturbance (family violence),McIntosh,-81.2646,31.5329
495,Kelly Shannon Bowen,51,Male,13/03/2021 0:00,Reidsville,GA,Bulloch,Gunshot,gun,other,other,Rural,8786.0,Violent Crime,McIntosh,-81.2646,31.5329
660,Raymond Tarbox II,43,Male,12/03/2021 0:00,Valdosta,GA,Lowndes,Gunshot,knife,other,not fleeing,Urban,8790.0,Other Non-Violent Offense,McIntosh,-81.2646,31.5329

In [15]:
map_3 = KeplerGl(height=800, data={"data_1": df_3})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [16]:
map_3

KeplerGl(data={'data_1':                  Victim's name Victim's age Victim's gender  \
0             Willie R…