<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Libraries</a></span></li><li><span><a href="#Data" data-toc-modified-id="Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data</a></span><ul class="toc-item"><li><span><a href="#To-perform-this-map-we-need:" data-toc-modified-id="To-perform-this-map-we-need:-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>To perform this map we need:</a></span></li><li><span><a href="#Merge-the-two-datasets" data-toc-modified-id="Merge-the-two-datasets-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Merge the two datasets</a></span></li></ul></li><li><span><a href="#Create-a-map" data-toc-modified-id="Create-a-map-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Create a map</a></span></li></ul></div>

![image](https://miro.medium.com/max/600/1*XLqDpdW6SC_MOOlx007N3w.gif)

# Libraries

In [1]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl

/home/anagarcia/anaconda3/envs/final/lib/python3.8/site-packages/geopandas/_compat.py:106: UserWarning: The Shapely GEOS version (3.8.0-CAPI-1.13.1 ) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(

# Data

## To perform this map we need:

Your dataset will need to include three variables:
- a `datetime` variable (to enable time series functionality)
- a `latitude` variable (from the polygon centroid for each county)
- a `longitude` variable (from the polygon centroid for each county)

The police interaction dataset I used (see dataset source/validity section) includes the street address, city, state, zip code, and county information. We’ll map the data by state counties because we can use the National Weather Service’s GIS shape files to extract each county’s central longitude and latitude using the centroid of each county’s respective geospatial shape.

In [3]:
df = pd.read_csv("../Input/MPV_2.csv", sep = ";")
df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,County,Cause of death,Symptoms of mental illness?,Armed/Unarmed Status,Alleged Weapon,Alleged Threat Level,Fleeing,Geography,MPV ID,Encounter Type (DRAFT)
0,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,"Gunshot, Taser",No,Allegedly Armed,gun,other,foot,Suburban,8728,Violent crime
1,Jeffrey Ely,40,Male,White,31/03/2021,247 Sullivan St.,Claremont,NH,3743.0,Sullivan,Gunshot,No,Allegedly Armed,gun,attack,not fleeing,Rural,8729,Violent crime
2,Ivan Cuevas,27,Male,Hispanic,31/03/2021,North Conyer Street,Visalia,CA,93291.0,Tulare,Gunshot,Drug or alcohol use,Allegedly Armed,knife,other,not fleeing,Urban,8730,Domestic disturbance (family violence)
3,Anthony Alvarez,22,Male,Hispanic,31/03/2021,W. Eddy St. and N. Laramie Ave.,Chicago,IL,60641.0,Cook,Gunshot,No,Allegedly Armed,gun,NaN,foot,Urban,8731,None/Unknown
4,Aaron Christopher Pouche,35,Male,NaN,31/03/2021,E. 8th St. and S. Carlisle,Independence,MO,64054.0,Jackson,Gunshot,No,Allegedly Armed,gun,attack,not fleeing,Suburban,8732,Violent crime

In [4]:
# We add to time info

In [7]:
# But... in this dataset we don't have lat long information. We use a shapefile
#file add this info in our dataset
shapefile_data = gpd.read_file("../Input/c_10nv20.shp")

In [5]:
shapfile_raw = pd.DataFrame(shapefile_data)
shapfile_raw.head()

NameError: name 'shapefile_data' is not defined

## Merge the two datasets

Once you’ve extracted the longitude and latitudes, we simply merge the coordinate dictionary with the dataset using state and county variables (which should be present in both datasets). In this case, we’ll merge the data using State abbreviations and County names:

In [9]:
#Now we are going to merge the two datasets by the column STATE.

,Victim's name,Victim's age,Victim's gender,Victim's race,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,County,...,Encounter Type (DRAFT),datetime,CWA,COUNTYNAME,FIPS,TIME_ZONE,FE_AREA,LON,LAT,geometry
0,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,Violent crime,31/03/2021 0:00,CHS,McIntosh,13191,E,se,-81.2646,31.5329,"MULTIPOLYGON (((-81.46814 31.33980, -81.46747 ..."
1,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,Violent crime,31/03/2021 0:00,CHS,Liberty,13179,E,se,-81.2103,31.7093,"POLYGON ((-81.30807 31.79454, -81.30546 31.791..."
2,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,Violent crime,31/03/2021 0:00,FFC,Wilkes,13317,E,ec,-82.7432,33.7820,"POLYGON ((-82.64600 33.98411, -82.64270 33.972..."
3,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,Violent crime,31/03/2021 0:00,FFC,Wilcox,13315,E,cc,-83.4322,31.9734,"POLYGON ((-83.37489 32.13221, -83.37160 32.132..."
4,Willie Roy Allen,57,Male,NaN,31/03/2021,2626 Lithonia Industrial Blvd.,Lithonia,GA,30058.0,DeKalb,...,Violent crime,31/03/2021 0:00,FFC,Whitfield,13313,E,nw,-84.9673,34.8056,"POLYGON ((-84.82439 34.98771, -84.81900 34.987..."

In [11]:
# remove some columns that we don`t need to the analysis. 
df_2.drop(["Victim's race", "Street Address of Incident", "Date of Incident (month/day/year)", "geometry", "Zipcode", "CWA", "Symptoms of mental illness?", "Armed/Unarmed Status","FIPS", "TIME_ZONE", "FE_AREA" ], axis = 1, inplace = True)

In [12]:
# There are some null values that we are not interested in, so we are going to eliminate them

In [15]:
# Also, we remove the duplicate data

In [16]:
df_3.head()

,Victim's name,Victim's age,Victim's gender,City,State,County,Cause of death,Alleged Weapon,Alleged Threat Level,Fleeing,Geography,MPV ID,Encounter Type (DRAFT),datetime,COUNTYNAME,LON,LAT
0,Willie Roy Allen,57,Male,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,31/03/2021 0:00,McIntosh,-81.2646,31.5329
1,Willie Roy Allen,57,Male,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,31/03/2021 0:00,Liberty,-81.2103,31.7093
2,Willie Roy Allen,57,Male,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,31/03/2021 0:00,Wilkes,-82.7432,33.7820
3,Willie Roy Allen,57,Male,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,31/03/2021 0:00,Wilcox,-83.4322,31.9734
4,Willie Roy Allen,57,Male,Lithonia,GA,DeKalb,"Gunshot, Taser",gun,other,foot,Suburban,8728.0,Violent crime,31/03/2021 0:00,Whitfield,-84.9673,34.8056

# Create a map

In [17]:
# Set the map configuration
map_3 = KeplerGl(height=800, data={"": df_3})

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [18]:
map_3

KeplerGl(data={'data_1':            Victim's name Victim's age Victim's gender        City State  \
0       Wi…

In [21]:
D3_config = map_3.config

In [23]:
# Save map_1 config to a file
with open('hex_config_3D.py', 'w') as f:
    f.write('config = {}'.format(map_3.config))

In [22]:
map_3.save_to_html(data={'3D_temporal': df_3}, config= D3_config, file_name='3d_map.html')

Map saved to 3d_map.html!