<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Libraries</a></span></li><li><span><a href="#Crimes-in-Nueva-York" data-toc-modified-id="Crimes-in-Nueva-York-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Crimes in Nueva York</a></span><ul class="toc-item"><li><span><a href="#Explore-null-data-in-the-dataset" data-toc-modified-id="Explore-null-data-in-the-dataset-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Explore null data in the dataset</a></span></li><li><span><a href="#Time-to-map-the-dataset" data-toc-modified-id="Time-to-map-the-dataset-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Time to map the dataset</a></span><ul class="toc-item"><li><span><a href="#Configuration" data-toc-modified-id="Configuration-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Configuration</a></span></li><li><span><a href="#Save-the-map" data-toc-modified-id="Save-the-map-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Save the map</a></span></li></ul></li></ul></li><li><span><a href="#Mapa-temporal-COVID-Alemania" data-toc-modified-id="Mapa-temporal-COVID-Alemania-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Mapa temporal COVID Alemania</a></span></li><li><span><a href="#Further-materials" data-toc-modified-id="Further-materials-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Further materials</a></span></li></ul></div>

![portada](https://miro.medium.com/max/7077/1*0l-WeqdtYRruoV_XxS-ZKg.png)

I chose to use data from the Northern California Earthquake Data Center [NCEDC](http://ncedc.org/) , an organization that has measured and made available all California earthquake records from 1967 to the present.

# Libraries

In [48]:
import pandas as pd
import geopandas as gpd
from keplergl import KeplerGl
from geopy.geocoders import Nominatim

# Crimes in Nueva York

In [49]:
df = pd.read_csv("Input/NYPD_Shoot_.csv")

In [50]:
df.shape

(1942, 19)

In [51]:
df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,221467363,12/07/2020,05:50:00,BRONX,40,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1020183,239283,40.823387,-73.870170,POINT (-73.87017045 40.82338729100008)
1,213923358,06/06/2020,21:00:00,BRONX,47,0,NaN,False,NaN,NaN,NaN,18-24,M,BLACK,1009548,258693,40.876699,-73.908523,POINT (-73.90852293799998 40.87669883700005)
2,217218947,08/30/2020,01:39:00,BROOKLYN,73,0,NaN,False,NaN,NaN,NaN,45-64,F,BLACK,1025754,268697,40.904095,-73.849860,POINT (-73.84985952299998 40.90409529500005)
3,216209200,08/05/2020,20:01:00,QUEENS,104,0,PVT HOUSE,False,18-24,M,UNKNOWN,25-44,F,BLACK HISPANIC,1051162,155661,40.593685,-73.759070,POINT (-73.75907037999998 40.59368532700007)
4,221795938,12/13/2020,16:00:00,BROOKLYN,75,0,NaN,False,NaN,NaN,NaN,25-44,F,BLACK,1008427,183518,40.670366,-73.912847,POINT (-73.91284696199995 40.670366460000025)

## Explore null data in the dataset

In [128]:
df.isnull().sum()[:5]

INCIDENT_KEY    0
OCCUR_DATE      0
OCCUR_TIME      0
BORO            0
PRECINCT        0
dtype: int64

In [127]:
df.dtypes[:5]

INCIDENT_KEY     int64
OCCUR_DATE      object
OCCUR_TIME      object
BORO            object
PRECINCT         int64
dtype: object

## Time to map the dataset
https://towardsdatascience.com/kepler-gl-jupyter-notebooks-geospatial-data-visualization-with-ubers-opensource-kepler-gl-b1c2423d066f

The usual Kepler.gl workflow is as follows:

    1- Add data to the map  
    2- Create data layers  
    3- Add filters  
    4- Customize your map settings  
    5- Save your map as an image and export it as a html file

In [164]:
#Create a basemap 
map_1= KeplerGl(height=700, weight = 500, data={'data_1': df})
#show the map
map_1

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'am25s24', 'type': â€¦

### Configuration
Each map will have a configuration file in dictionary format. We can save this configuration and work with it later without having to touch the interface again.

In [136]:
config = map_1.config

In [137]:
config

{'version': 'v1',
 'config': {'visState': {'filters': [],
   'layers': [{'id': 'am25s24',
     'type': 'point',
     'config': {'dataId': 'data_1',
      'label': 'Point',
      'color': [240, 237, 234],
      'columns': {'lat': 'Latitude', 'lng': 'Longitude', 'altitude': None},
      'isVisible': True,
      'visConfig': {'radius': 1.5,
       'fixedRadius': False,
       'opacity': 0.8,
       'outline': False,
       'thickness': 2,
       'strokeColor': None,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'strokeColorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'radiusRange': [0, 50],
       'filled': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'strokeColorField': None,
      'strokeColorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}},
    {'id': 'sbqxr',
     'type': 'hexagon',
     'config': {'dataId': 'data_1',
      'label': 'data_1',
      'color': [221, 178, 124],
      'columns': {'lat': 'Latitude', 'lng': 'Longitude'},
      'isVisible': True,
      'visConfig': {'opacity': 0.8,
       'worldUnitSize': 0.1,
       'resolution': 8,
       'colorRange': {'name': 'Global Warming',
        'type': 'sequential',
        'category': 'Uber',
        'colors': ['#5A1846',
         '#900C3F',
         '#C70039',
         '#E3611C',
         '#F1920E',
         '#FFC300']},
       'coverage': 1,
       'sizeRange': [0, 500],
       'percentile': [0, 100],
       'elevationPercentile': [0, 100],
       'elevationScale': 17,
       'colorAggregation': 'count',
       'sizeAggregation': 'count',
       'enable3d': True},
      'hidden': False,
      'textLabel': [{'field': None,
        'color': [255, 255, 255],
        'size': 18,
        'offset': [0, 0],
        'anchor': 'start',
        'alignment': 'center'}]},
     'visualChannels': {'colorField': None,
      'colorScale': 'quantile',
      'sizeField': None,
      'sizeScale': 'linear'}}],
   'interactionConfig': {'tooltip': {'fieldsToShow': {'data_1': [{'name': 'INCIDENT_KEY',
        'format': None},
       {'name': 'OCCUR_DATE', 'format': None},
       {'name': 'OCCUR_TIME', 'format': None},
       {'name': 'BORO', 'format': None},
       {'name': 'PRECINCT', 'format': None}]},
     'compareMode': False,
     'compareType': 'absolute',
     'enabled': True},
    'brush': {'size': 0.5, 'enabled': False},
    'geocoder': {'enabled': False},
    'coordinate': {'enabled': False}},
   'layerBlending': 'normal',
   'splitMaps': [],
   'animationConfig': {'currentTime': None, 'speed': 1}},
  'mapState': {'bearing': 24,
   'dragRotate': True,
   'latitude': 40.74560444339724,
   'longitude': -74.00127642938425,
   'pitch': 50,
   'zoom': 10.17073740750264,
   'isSplit': False},
  'mapStyle': {'styleType': 'dark',
   'topLayerGroups': {},
   'visibleLayerGroups': {'label': True,
    'road': True,
    'border': False,
    'building': True,
    'water': True,
    'land': True,
    '3d building': False},
   'threeDBuildingColor': [9.665468314072013,
    17.18305478057247,
    31.1442867897876],
   'mapStyles': {}}}}

In [139]:
config.keys()

dict_keys(['version', 'config'])

In [143]:
config.get("config").keys()

dict_keys(['visState', 'mapState', 'mapStyle'])

In [153]:
config.get("config").get("visState").get("layers")[1] #sacamos el diccionario con los parametros de visulizaciÃ³n del mapa

{'id': 'sbqxr',
 'type': 'hexagon',
 'config': {'dataId': 'data_1',
  'label': 'data_1',
  'color': [221, 178, 124],
  'columns': {'lat': 'Latitude', 'lng': 'Longitude'},
  'isVisible': True,
  'visConfig': {'opacity': 0.8,
   'worldUnitSize': 0.1,
   'resolution': 8,
   'colorRange': {'name': 'Global Warming',
    'type': 'sequential',
    'category': 'Uber',
    'colors': ['#5A1846',
     '#900C3F',
     '#C70039',
     '#E3611C',
     '#F1920E',
     '#FFC300']},
   'coverage': 1,
   'sizeRange': [0, 500],
   'percentile': [0, 100],
   'elevationPercentile': [0, 100],
   'elevationScale': 17,
   'colorAggregation': 'count',
   'sizeAggregation': 'count',
   'enable3d': True},
  'hidden': False,
  'textLabel': [{'field': None,
    'color': [255, 255, 255],
    'size': 18,
    'offset': [0, 0],
    'anchor': 'start',
    'alignment': 'center'}]},
 'visualChannels': {'colorField': None,
  'colorScale': 'quantile',
  'sizeField': None,
  'sizeScale': 'linear'}}

In [154]:
config.get("config").get("mapState")

{'bearing': 24,
 'dragRotate': True,
 'latitude': 40.74560444339724,
 'longitude': -74.00127642938425,
 'pitch': 50,
 'zoom': 10.17073740750264,
 'isSplit': False}

In [155]:
config.get("config").get("mapStyle")

{'styleType': 'dark',
 'topLayerGroups': {},
 'visibleLayerGroups': {'label': True,
  'road': True,
  'border': False,
  'building': True,
  'water': True,
  'land': True,
  '3d building': False},
 'threeDBuildingColor': [9.665468314072013,
  17.18305478057247,
  31.1442867897876],
 'mapStyles': {}}

In [156]:
x = config.get("config").get("mapStyle")
for k, v in x.items():
    x["styleType"] = "light"

In [158]:
config.get("config").get("mapStyle")

{'styleType': 'light',
 'topLayerGroups': {},
 'visibleLayerGroups': {'label': True,
  'road': True,
  'border': False,
  'building': True,
  'water': True,
  'land': True,
  '3d building': False},
 'threeDBuildingColor': [9.665468314072013,
  17.18305478057247,
  31.1442867897876],
 'mapStyles': {}}

In [163]:
# Save map_1 config to a file
with open('hex_config.py', 'w') as f:
    f.write('config = {}'.format(map_1.config))

In [159]:
map_2= KeplerGl(height=1000, data={'data_1': df}, config=config)
map_2

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'am25s24', 'type': â€¦

In [ ]:
config.get("config").get("mapStyle")

### Save the map

In [162]:
map_1.save_to_html(file_name = "crime_map.html", read_only = True)

Map saved to crime_map.html!

# Mapa temporal COVID Alemania 
https://towardsdatascience.com/4d-data-visualization-with-kepler-gl-b6bd6dd90451

Â¿QUe vamos a hacer ahora? 
Poner un video con este link : https://mappingpoliceviolence.org/
Mejor poner este: http://erikyan.com/police_interactions_resulting_in_death.html
y luego hacer lo que leo en este articulo: https://towardsdatascience.com/an-interactive-3d-map-of-police-action-s-that-have-resulted-in-death-b9d7fbf81822 TOP TOP ESTE LE TENGO QUE PROBAR

##### TO-DO

1- Cambiar enunciados a ingles ðŸ“¢

In [36]:
df_covid = pd.read_csv("Input/Alemania_COVID19.csv")

In [37]:
df_covid.drop(["ObjectId", "IdBundesland", "Altersgruppe2", "Refdatum", "IstErkrankungsbeginn", "NeuGenesen", "AnzahlGenesen"], inplace = True, axis = 1)

In [38]:
columns = ["federal_state", "district", "age_group", "gender", "number_cases", "number_deadth", "date", "country_Id", "data_status", "new_cases", "new_death"]

In [39]:
df_covid.columns = columns

In [40]:
df_covid.head()

,federal_state,district,age_group,gender,number_cases,number_deadth,date,country_Id,data_status,new_cases,new_death
0,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/09/30 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9
1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/10/29 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9
2,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/03 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9
3,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/20 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9
4,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/23 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9

In [41]:
df_covid["federal_state"].unique()

array(['Schleswig-Holstein', 'Hamburg', 'Niedersachsen', 'Bremen',
       'Nordrhein-Westfalen', 'Hessen', 'Rheinland-Pfalz',
       'Baden-WÃ¼rttemberg', 'Bayern', 'Saarland', 'Berlin', 'Brandenburg',
       'Mecklenburg-Vorpommern', 'Sachsen', 'Sachsen-Anhalt', 'ThÃ¼ringen'],
      dtype=object)

In [42]:
def get_coord(x):
    geolocator = Nominatim(user_agent="myGeocoder", timeout=10)
    location = geolocator.geocode(x)
    data = location.raw

    try:
        y = data.get("lat")
        z = data.get("lon")
        return [y, z]
    
    except: 
        return "unknown"

In [45]:
df3.head()

,federal_state,district,age_group,gender,number_cases,number_deadth,date,country_Id,data_status,new_cases,new_death
100001,Niedersachsen,LK Hameln-Pyrmont,A60-A79,W,1,0,2021/01/02 00:00:00+00,3252,"04.04.2021, 00:00 Uhr",0,-9
100002,Niedersachsen,LK Hameln-Pyrmont,A60-A79,W,1,0,2021/01/03 00:00:00+00,3252,"04.04.2021, 00:00 Uhr",0,-9
100003,Niedersachsen,LK Hameln-Pyrmont,A60-A79,W,2,0,2021/01/05 00:00:00+00,3252,"04.04.2021, 00:00 Uhr",0,-9
100004,Niedersachsen,LK Hameln-Pyrmont,A60-A79,W,2,0,2021/01/05 00:00:00+00,3252,"04.04.2021, 00:00 Uhr",0,-9
100005,Niedersachsen,LK Hameln-Pyrmont,A60-A79,W,1,0,2021/01/06 00:00:00+00,3252,"04.04.2021, 00:00 Uhr",0,-9

In [19]:
df3.head()

Empty DataFrame
Columns: [federal_state, district, age_group, gender, number_cases, number_deadth, date, country_Id, data_status, new_cases, new_death, lat_long]
Index: []

In [10]:
df_covid["lat_long"] = df_covid["district"].apply(get_coord)

In [11]:
df_covid.head()

,federal_state,district,age_group,gender,number_cases,number_deadth,date,country_Id,data_status,new_cases,new_death,lat_long
0,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/09/30 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9,"[54.7833021, 9.4333264]"
1,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/10/29 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9,"[54.7833021, 9.4333264]"
2,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/03 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9,"[54.7833021, 9.4333264]"
3,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/20 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9,"[54.7833021, 9.4333264]"
4,Schleswig-Holstein,SK Flensburg,A00-A04,M,1,0,2020/11/23 00:00:00+00,1001,"04.04.2021, 00:00 Uhr",0,-9,"[54.7833021, 9.4333264]"

In [12]:
map_2 = KeplerGl(height=600, width=800)
map_2.add_data(data=df_covid, name='covid')

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [13]:
map_2

KeplerGl(data={'covid': {'index': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2â€¦

# Further materials

https://leadr-msu.github.io/kepler-gl/  
https://github.com/heshan0131/kepler.gl